<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    后果
        1. 减少浏览器负担
            内存过大会使浏览器卡顿。
        2. node端
            内存不够，服务中断，而node.js开启的服务如果不管理内存，会中断。

    堆和栈
        栈内存 只有一端 从一端出也从同一端进 线性数据结构
        堆内存 树状 非线性数据结构

    普通类型的变量 直接存储在栈内存  如var a = 1
    引用类型的变量 本身会存储在堆内存中 而栈内存指向的是堆内存中的地址  如var a = {b:1}

    V8引擎  标准定义 64位下1.4G  32位下700MB
        根据浏览器的不同会有些许扩容。Node情况下会有一些C++内存扩容

    内存分配分为 新生代 和 老生代
        新生代 短时间存活的新变量 内存极小，64位下大概为32MB
            新生代
        老生代 长时间存活的变量 老生代几乎占据了所有内存，64位下大概为1400MB

    什么时候触发回收
        1.执行完一次代码  2.内存不够的时候
</body>
</html>
