<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    健壮性
        代码抵抗未知风险BUG的能力
        避免和程序无关的因素，导致代码报错
        快速给出反应
        不至于非必要性的BUG，导致程序中断
        保障
            做好参数默认值
            做好反馈错误信息
    可读性
        结构清晰
        他人可看懂
        做法
            优化结构
            遵循规范
            注释
    可复用性
        重复代码不写第二遍
        减少代码体积
        低耦合（两个模块关联少或者没有关联，不会影响本身的模块），高内聚（模块非常单一，只做一件事）
    可扩展性
        面对变更 不用大规模改动
        不用改变现有结构，只需写新功能
</body>
</html>
